@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
}

.navbar {
    background-color: #F55A5A;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navLogo {
    width: 24px;
    height: 24px;
}

.navTitle {
    margin-left: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;


    color: #FFFFFF;

}

.card-section {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    border: 0.1px solid #F5F5F5;
    width: 478px;
    margin: 25px 0;
    
}

.card-box {

    display: flex;
    flex-direction: row;
    max-width: 500px;
}

.card-location a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;

    color: #918E9B;

}

.card-location p {
    margin-left: 4px;
    margin-right: 12px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;

    color: #2B283A;

}

.card-location img {
    width: 7px;
    height: 9.55px;
}

.card-location {
    display: flex;
    flex-direction: row;

}

.card-image {
    margin-right: 20px;
    width: 126px;
    height: 168px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.card-description h4 {

    margin-bottom: 7px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;

    color: #2B283A;

}

.card-description p{
    height: 45px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height:15px;

    color: #2B283A;

}

.card-description h1 {
    margin-top: 7px;
    height: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #2B283A;

}

.card-description {
    display: flex;
    flex-direction: column;
}


